!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/themes/default/auth.css')

    script(type='text/javascript', src='/javascripts/3rdparty/jquery-2.0.2.min.js')
    script(type='text/javascript', src='/javascripts/konter.auth.js')
    script(type='text/javascript', src='/javascripts/3rdparty/jquery.validate.min.js')


  body

    .main-container
    
      if flash && Object.keys(flash).length > 0
        .login-flash( class=(flash.error ? 'error' : 'notice') )=flash.error ? flash.error[0] : flash.notice[0]
      
      .login-container( style='height: 300px' )

        .big-logo.pull-right
          img( src='/images/logo.png' )
          h1 TASTENBOX
          h2 collaboration back office

          p( style='margin-top: 2em' )
            span.required-star *
            =t('required fields')
              
        form( action='/forgot_password', method='post' )
          input( type='hidden', name='_csrf', value=_csrf )

          h1=t('Forgot Password')+'?'
          p.desc!=t('Please enter your email address in order to get a link sent where you can reset your old password!')
          p
            label=t('Email')
            br
            input.js-get-focus( type='text', name='email' )

          p(style='text-align: right; margin-top: 15px')
            button.ui-button(type='submit')=t('Send link')

        p.footer
          span.pull-right
            !=t('TASTENBOX is a service by TASTENWERK')+' &copy;'
            =moment().format('YYYY')
          a( href='/login' )=t('Back to Login')
