!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/themes/default/auth.css')
    script(type='text/javascript', src='/javascripts/3rdparty/jquery-2.0.2.min.js')
    script(type='text/javascript', src='/javascripts/konter.auth.js')

  body

    .main-container

      if flash && Object.keys(flash).length > 0
        .login-flash( class=(flash.error ? 'error' : 'notice') )=flash.error ? flash.error[0] : flash.notice[0]

      .login-container

        .big-logo.pull-right
          img( src='/images/logo.png' )
          h1 TASTENBOX
          h2 collaboration back office

        form( action='/login', method='post' )
          input( type='hidden', name='_csrf', value=_csrf )

          p
            input.js-get-focus( type='text', name='email', required, placeholder=t('Username or Email'), autocomplete=false )
          p
            input( type='password', name='password', required, placeholder=t('Password') )

          p( style='margin-top: 5px')
            button.ui-button(type='submit')=t('Login')

        p.footer
          a( href='/register')=t('Register')
          |&nbsp;|&nbsp;
          a( href='/forgot_password' )=t('Forgot Password')
          |&nbsp;|&nbsp;
          a( href='/' )=t('Back to Frontpage')

      p.lower-footer
        !=t('TASTENBOX is a service by TASTENWERK')+' &copy;'
        =moment().format('YYYY')
