.user-details-container.default-content
  h1=user.name.full

  p
    label=t('Email')
    span=user.email

  if currentUser.isAdmin()
    p
      label(for='select-roles')=t('Roles')
      select#select-user-roles( multiple=true, data-placeholder=t('Select Roles') )
        each role in roles
          option( selected=(user.roles.indexOf(role) >= 0 ) )=role
  else
    p
      label=t('Roles')
      span=user.roles.join(', ')
    
  if currentUser.isAdmin()
    p
      label(for='select-groups')=t('Groups')
      select#select-user-groups( multiple=true, data-placeholder=t('Select Groups') )
        each group in groups
          option( selected=(user.groupIds.indexOf(group._id.toString()) >= 0 ) )=group.name
  else  
    p
      label=t('Groups')
      span=user.groups.map( function( group ){ return group.name; } ).join(', ')
