!!! 5
html
  head
    meta( http-equiv='Content-Type', content='text/html', charset='utf-8' )
    block header
      include _header

  body

    .main-container

      .konter-bar
        .logo
        .account-info-container
          .account-picture( style='background-image: url(/users/#{currentUser._id}/avatar.jpg)' )
          .actions.account-actions
            a.xhr-link.name(href='/users/#{currentUser._id}')
              =currentUser.name.full
            .vertical-user-actions-stack
              a.xhr-link(href='/users/#{currentUser._id}', title=t('My Profile'))
                i.icon.icon-edit
              a(href='/logout', title=t('Log off'))
                i.icon.icon-off

      .icon-bar
        a.active(href='#')
          i.icon-large.white.icon-home
          span.text=t('Home')
        a(href='#')
          i.icon-large.white.icon-list
          span.text=t('Tasks')

      input( type='hidden', id='_csrf', value=_csrf )
      input( type='hidden', id='_env', value=konter.env )

      .content-wrapper-arrow-left
      #content-wrapper.content-wrapper
        
        block content

      each tmpl in konter.tmpls
        |!{tmpl}